.row.wrapper {
  position: relative;
}
.row.wrapper .action-button {
  bottom: 0;
  height: 30px;
  margin: auto;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  width: 35px;
}
.row.wrapper .action-button button {
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 35px;
}
.wrapper .form-group.subgroup .subcontainer {
  float: left;
  width: 50%;
}
.wrapper .form-group .generate button {
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  position: relative;
  width: 100%;
}
.wrapper .form-group .generate button i {
  height: 30px;
  line-height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}
