<div class="footer">
  <div class="pull-right">
    <button (click)="selectLang(supportedLangs[0].value)"
            class="btn btn-default" [class.btn-primary]="isCurrentLang(supportedLangs[0].value)">
      {{ supportedLangs[0].display }}
    </button>
    <i class="fa fa-circle" aria-hidden="true"></i>
    <button (click)="selectLang(supportedLangs[1].value)"
            class="btn btn-default" [class.btn-primary]="isCurrentLang(supportedLangs[1].value)">
      {{ supportedLangs[1].display }}
    </button>
  </div>
  <div>
    <strong>Copyright</strong> Kiinitro Team &copy; 2017
  </div>
</div>
