<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h1 class="slogan">
        {{ 'slogan' | translate }}
      </h1>
      <div class="slick_demo_2">
        <div>
          <div class="ibox-content">
            <h2>Slide 1</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap.
            </p>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <h2>Slide 2</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap.
            </p>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <h2>Slide 3</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap.
            </p>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <h2>Slide 4</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
