.nav-header {
  background-image: none !important;
  background-color: #2f4050 !important;
}
.nav-header .profile-element img {
  width: 50px;
}
@media (max-width: 768px) {
  .profile-element {
    display: block !important;
    padding: 10px 0;
    text-align: center;
  }
  .profile-element span {
    font-size: 10px;
  }
  .nav-header .profile-element img {
    width: 40px;
  }
}
